/*
* === COLORS ===
*/

html[data-theme="light"] {    
    --background: #FCFAF6;
    --primary: rgb(44, 44, 44);
    --secondary: white;
}

html[data-theme="dark"] {
    --background: #093050;
    --primary: #FFFFFF;
    --secondary: white;
}
