---
import Logo from "../components/Logo.astro";
---

<header>
  <Logo />
  <p class="slogan">
    👉 Full Stack Developer / Learning In Public / Building For Fun
  </p>
</header>

<style>
  .slogan {
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem 0 2.5rem 0;
    font-weight: 200;
    font-style: italic;
    color: grey;
    border-bottom: 2px dotted gray;
  }
</style>
