/*
* === COLORS ===
*/

:root {
    --background: #FCFAF6;
    --primary: rgb(44, 44, 44);
    --secondary: white;
    --links: #0560a6;
    --font-size: 10px;
}

html[data-theme="light"] {    
    --background: #FCFAF6;
    --primary: rgb(44, 44, 44);
    --secondary: white;
    --links: #0560a6;
}

html[data-theme="dark"] {
    --background: #093050;
    --primary: #d6d6d6;
    --secondary: white;
    --links: #0992fa;
}