---
import BaseHead from "../components/BaseHead.astro";
import BlogHeader from "../components/BlogHeader.astro";
import Links from "../components/Links.astro";
import ThemeToggle from "../components/ThemeToggle.astro";

export interface Props {
  title: string;
  description: string;
  permalink: string;
}
const { title, description, permalink } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />
    <link rel="stylesheet" href={Astro.resolve("../styles/prism.css")} />
  </head>

  <body>
    <BlogHeader>
      <Links />
    </BlogHeader>
    <div class="theme-toggle-container">
      <ThemeToggle />
    </div>
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  .theme-toggle-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
</style>
